body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333333;
}

header {
    background-color: #004488;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

#team-info, #player-highlight {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.player img {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004488;
    color: white;
}
